# General
SCRAP_ENV=production

# Webhook
## Validator
SCRAPHOOK_WEBHOOK_VALIDATOR_CHALLENGE_QUERY_NAME=wh.challenge
SCRAPHOOK_WEBHOOK_VALIDATOR_VERIFY_TOKEN_QUERY_NAME=wh.verify_token

## HTTP Transport
SCRAPHOOK_WEBHOOK_HTTP_LISTEN_ADDRESS=:8080

## MsgBus
SCRAPHOOK_WEBHOOK_MSGBUS_URI=nats://127.0.0.1:4222
SCRAPHOOK_WEBHOOK_MSGBUS_REGION=earth
SCRAPHOOK_WEBHOOK_MSGBUS_NAME=scraphook

## Database
SCRAPHOOK_WEBHOOK_DATABASE_DSN=sqlite3:///tmp/scraphook.sqlite
SCRAPHOOK_WEBHOOK_DATABASE_MIGRATE_DIR=./db/migrations
