## General
SCRAP_ENV=development
SCRAPHOOK_BUCKET_TEMPLATE=2006010215

## MsgBus
SCRAPHOOK_MSGBUS_DSN=nats://127.0.0.1:4222
SCRAPHOOK_MSGBUS_REGION=earth
SCRAPHOOK_MSGBUS_NAME=scraphook
SCRAPHOOK_MSGBUS_MAX_RETRY=3

## Database
SCRAPHOOK_DATABASE_DSN=sqlite3:///tmp/scraphook.sqlite
SCRAPHOOK_DATABASE_MIGRATE_DIR=./db/migrations

## Cache
SCRAPHOOK_CACHE_DSN=bigcache://127.0.0.1
SCRAPHOOK_CACHE_SECONDS_TO_LIVE=3600

## Monitor
SCRAPHOOK_MONITOR_PROVIDER=noop
SCRAPHOOK_MONITOR_SERVICE_NAME=
SCRAPHOOK_MONITOR_VERSION=

# Webhook
## Validator
SCRAPHOOK_WEBHOOK_VALIDATOR_CHALLENGE_QUERY_NAME=wh.challenge
SCRAPHOOK_WEBHOOK_VALIDATOR_VERIFY_TOKEN_QUERY_NAME=wh.verify_token

## HTTP Transport
SCRAPHOOK_WEBHOOK_HTTP_LISTEN_ADDRESS=:8080

# Attempt
## Examiner
SCRAPHOOK_ATTEMPT_EXAMINER_MAX_COUNT=3

## Trigger
SCRAPHOOK_ATTEMPT_TRIGGER_CRON_PATTERN=*/3 * * * *
SCRAPHOOK_ATTEMPT_TRIGGER_BUCKET_SCAN_SIZE=300
SCRAPHOOK_ATTEMPT_TRIGGER_BUCKET_COUNT=3
SCRAPHOOK_ATTEMPT_TRIGGER_BUCKET_SIZE_IN_MINUTES=60
SCRAPHOOK_ATTEMPT_TRIGGER_BUCKET_DELAY_IN_MINUTES=15